.App {
  min-height: 100vh;
  background: rgb(96, 162, 182);
  display: flex;
  justify-content: space-around;

}

.tweet{
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}